

* {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
}

body {
	position: relative;
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
}

#game-canvas {
	box-sizing: border-box;
	border: 5px solid white;
	z-index: 10;
}

#game-info {
	width: 400px;
	height: 100%;
	margin: 0 10px;
	margin-left: -500px;
	transition: 0.5s margin;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: inherit;
}

.tab button {
	background-color: inherit;
	color: white;
	width: 25%;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 5px;
	transition: 0.3s;
	font-size: 16px;
}

.tab button:hover {
	background-color: #ddd;
	color: black;
	font-weight: bold;;
}

.tab button.active {
	background-color: #ddd;
	color: black;
	font-weight: bold;;
}

.tabcontent {
	display: none;
	padding: 10px;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}
  
#btn-hide {
	padding: 0 5px;
	font-size: 20px;
	color: white;
	background-color: black;
	outline: none;
	margin-left: -20px;
	transition: 0.5s margin;
}
#btn-hide:hover {
	margin-left: 0;
}

#game-progress {
	width: 100%;
	height: 30%;
	text-align: center;
	display: block;
}

#game-progress table{
	margin: 0 auto;
	text-align: center;
	border: 1px solid white;
}

#game-progress th {
	padding: 10px 18px;
	border-bottom: 1px dashed white;
}

#game-progress td{
	padding: 10px 18px;
}

#game-guide {
	padding: 10px;
	font-size: 14px;
}

#game-highscore {
	height: 520px;
	width: 100%;
}

#game-highscore table {
	width: 100%;
	border: 1px solid white;
	text-align: center;
	padding: 5px;
	font-size: 15px;
}

#game-highscore th {
	height: 40px;
	font-weight: bold;
}

#game-highscore td {
	padding: 8px 0;
	border-top: 1px solid gray;
	font-size: 0.9em;
	white-space: pre;
}


#game-history {
	height: 500px;
	width: 100%;
	overflow-y: scroll;
}

#game-history table {
	width: 100%;
	border: 1px solid white;
	text-align: center;
	padding: 5px;
	font-size: 15px;
}

#game-history th {
	height: 40px;
	font-weight: bold;
}

#game-history td {
	padding: 10px 0;
	border-top: 1px solid gray;
	font-size: 0.9em;
	white-space: pre;
}

