@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  position: relative;
}

a {
  display: block;
  outline: none;
  text-decoration: none;
}
.header {
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .nav, .searchbar, .populars {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.nav {
  position: absolute;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  z-index: 2;
}
.nav__logo {
  font-size: 3rem;
}
.nav__logo a {
  color: white;
}
.nav__menu {
  display: flex;
}
.nav__menu__item {
  display: inline-block;
  text-align: center;
}
.nav__menu__item a {
  position: relative;
  color: white;
  font-size: 20px;
  padding: 15px;
  margin: 0 10px;
  font-weight: bold;
}
.nav__menu__item a::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background-color: dodgerblue;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: transform 200ms ease;
}
.nav__menu__item a:hover::after {
  transform: scale(1);
}
.nav__toggle {
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.nav__cart a{
  color: white;
  font-size: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .nav {
    height: 150px;
  }
  .nav__logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  .nav__menu {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    position: absolute;
    left: 5%;
    top: 150px;
    flex-direction: column;
    transition: transform 200ms ease;
    transform-origin: top;
    transform: scaleY(0)
  }
  .nav__menu.active {
    transform: scaleY(1);
    margin: 0 auto;
  }
  .nav__toggle {
    display: block;
    position: absolute;
    left: 20px;
    top: 100px;
  }
  .nav__cart {
    position: absolute;
    right: 20px;
    top: 100px;
  }
}

.banner {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.banner img {
  position: relative;
  min-width: 100%;
  height: 100%;
}

.searchbar {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.searchbar input, .searchbar button {
  outline: none;
  border: none;
  border-radius: 10px;;
  padding: 15px;
  font-size: 20px;
  background-color: #edf3f4;
  width: 24%;
}

.searchbar button {
  border-radius: 999px;;
  background-color: black;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 1368px) {
  .searchbar input, .searchbar button {
    width: 49%;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 768px) {
  .searchbar input, .searchbar button {
    width: 100%;
  }
}

.populars {
  padding: 50px 100px;
  background-color: #edf3f4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.book {
  width: 24%;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.3);
}
.book__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.book__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book:hover img {
  transform: translateY(-20px) scale(1.05);
}
.book img {
  width: 100%;
  height: auto;
  box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.3);
  transition: transform 200ms ease;
}
@media only screen and (max-width: 1200px) {
  .book {
    margin: 10px 0;
    width: 49%;
  }
}
@media only screen and (max-width: 768px) {
  .book {
    width: 100%;
  }
}
.book__title {
  font-size: 1.5rem;
}
.book__author {
  font-size: 1.0rem;
  color: gray;
}
.book__price {
  font-size: 1.7rem;
  color: gray;
}
.book__control {
  margin: 20px 0;
  height: 45px;
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid gray;
  overflow: hidden;
  margin-left: -200%;
  transition: margin 200ms linear;
}
.book:hover .book__control {
  margin-left: 0;
}
.goDetail, .addToCart {
  padding: 9px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: grey;
  transition: 200ms ease;
}
.goDetail {
  border-right: 1px solid gray;
}
.goDetail:hover, .addToCart:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .nav, .searchbar, .populars {
    padding-left: 20px;
    padding-right: 20px;
  }
}
