@font-face {
    font-family: 'P2P';
    src: url('font/PressStart2P-Regular.ttf');
}

html, body {
	padding: 0;
	background-color: black;

	position: relative;
	font-size: 15px;
	color: white;
}

body {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#game-canvas {
	box-sizing: border-box;
	border: 5px solid white;
	background-color: rgba(128, 128, 128, 0.5);
}

#game-caro {
	position: absolute;
	left: 0;
}

#game-info {
	margin: 20px;
	width: 400px;
	height: 100%;
}

#game-progress {
	width: 400px;
	height: 30%;
}

table, th{
	font-size: 20px;
	border: 3px solid white;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

#guide {
	padding: 10px;
	font-size: 14px;
}